.cards {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
  margin: auto;
  padding: 0;
  max-width: 880px;
}

@media screen and (max-width: 568px) {
  .card__list {
    padding: 15px 0 18px;
  }
}

.card__image {
  width: 282px;
  height: 282px;
  gap: 0px;
  opacity: 0px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.button {
}
