.footer {
  margin: auto auto 60px;
  padding-top: 67px;
  color: rgba(84, 84, 84, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  max-width: 880px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 48px 20px 0 0;
  }
}

@media screen and (max-width: 621px) {
  .footer {
    margin: 0 0 36px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 17px;
  }
}
