.gallery {
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 568px) {
  .gallery__cards {
    padding: 15px 0 18px;
  }
}
