.header {
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__image {
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 621px) {
  .header {
    margin: 28px 0 0;
    max-width: 100%;
    padding-left: 27px;
    padding-right: 0;
  }

  .header__image {
    padding-top: 0;
    padding-bottom: 32px;
    height: 24px;
    width: 126px;
  }
}
