.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url(../images/Close_Icon.svg);
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__heading {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0 0 54px;
}

.modal__form {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  max-width: 358px;
  display: flex;
  flex-direction: column;
}

.modal__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

.modal__button {
  width: 358px;
  height: 50.15px;
  border: none;
  overflow: hidden;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  margin-top: 18px;
}
/* 
.modal_type_preview {
  width: 433px;
  height: 540px;
  top: 90px;
  left: 424px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  object-fit: contain;
} */

.modal__content_type_image {
  top: 90px;
  height: 75vh;
  width: 75vw;
  gap: 0px;
  opacity: 0px;
  position: absolute;
}

@media screen and (max-width: 621px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 19px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 15px);
    left: calc(100% - 30px);
    position: absolute;
  }

  .modal__button {
    width: 238px;
  }
}
