.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s linear;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.modal_opened {
  pointer-events: auto;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background-image: url(../images/Close_Icon.svg);
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__close:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__heading {
  color: rgba(0, 0, 0, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin: 0 0 54px;
}

.modal__form {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  max-width: 358px;
  display: flex;
  flex-direction: column;
}

.modal__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  padding-bottom: 13px;
  margin-bottom: 30px;
  width: 358px;
  height: 27.26px;
  position: relative;
}

.modal__button {
  width: 358px;
  height: 50.15px;
  border: none;
  overflow: hidden;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  margin-top: 18px;
  font-size: 18px;
  line-height: 22px;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.modal__image_type_preview {
  margin: auto;
  max-height: 75vh;
  max-width: 75vw;
  height: auto;
  width: auto;
}

.modal__container_type_image {
  background-color: transparent;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  height: auto;
  padding: 0;
}

.modal__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  width: 240px;
  height: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 621px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 19px;
    position: relative;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 15px);
    left: calc(100% - 30px);
    position: absolute;
  }

  .modal__button {
    width: 238px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
  }
}

.modal__input_type_error {
  border-bottom: 1px solid red;
  color: red;
  position: relative;
}

.modal__error {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: red;
  margin-bottom: 13px;
  position: absolute;
  width: 358px;
  height: 17px;
}

.modal__button_disabled {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  opacity: 0.2;
  border: 1px solid rgba(0, 0, 0, 1);
}

.modal__error_wrap {
  position: relative;
}
