.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
}

.page__content {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 45px 0 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}
.header__image {
  padding-top: 45px;
  padding-bottom: 41px;
}

.page__section {
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

.footer {
  padding-left: 200px;
  padding-top: 67px;
  color: rgba(84, 84, 84, 1);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  width: 282px;
}
