.page {
  background-color: black;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 28px 20px 60px 20px;
}

.page__content {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__section {
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

/* @media screen and (max-width: 768px) {
  .page__content {
  padding: 10px;
  } 
} */

@media screen and (max-width: 621px) {
  .page__content {
    padding: 0;
  }
}
